<div id="content">
  <div id="inner">

    <div class="h-card" id="header">

      <div id="title">
        <h1 class="u-name"><%= person.display_name %></h1>

        <h2 class="p-job-title"><%= person.display_title %></h2>
      </div>

      <div id="contact">
        <div class="contact-info">
          <a id="pdf" href="<%= "#{base_url}/" %>"><%= t.html_version %></a>
          <%= link_to person.website.sub('http://', ''), person.website, class: 'u-url' %>
          <%= mail_to person.email, class: 'u-email' %>
          <span class="u-tel"><%= person.mobile_phone %></span>
          <span class="p-addr"><%= "#{person.address.city}, #{person.address.state} - #{person.address.country}" %></span>
        </div>
      </div>

    </div>

    <div id="main">


      <div class="group-itens">

        <h3><%= t.skills %></h3>

        <div class="itens" id="skills">
          <% person.skills.each do |skill| %>
            <div class="talent">
              <h2><%= skill.title %></h2>

              <p><%= skill.description %></p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="group-itens">

        <h3><%= t.technologies %></h3>

        <div class="itens" id="technologies">
          <% @max_per_column = group_columns_max(3, person.technologies) %>
          <% group_columns(3, person.technologies).each do |group| %>
            <ul class="talent">
              <% group.each_with_index do |tech, index| %>
                <li<%= ' class="last"' if (index == @max_per_column-1) %>><%= tech %></li>
              <% end %>
            </ul>
          <% end %>

        </div>
      </div>
      <!--// .yui-gf-->


      <div class="group-itens" id="experience">


        <h3><%= t.experience %></h3>


        <div class="itens" id="jobs">

          <% person.jobs.each do |job| %>
            <div class="job">
              <h4><%= job.organization %></h2>

              <h5><%= job.title %></h3>
              <span class="date"><%= job.time_frame %></span>
              <% job.description.each do |paragraph| %>
                <p><%= paragraph %></p>
              <% end %>
              <% job.tags.each do |tag| %>
                <span class="tags"><%= tag %></span>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>


      <div class="group-itens">


        <h3><%= t.education %></h3>


        <div class="itens" id="educational">

          <% person.education.each do |edu| %>
            <div class="education">
              <h4><%= edu.institution %></h2>

              <h5><%= edu.degree %></h3>
              <span class="date"><%= edu.time_frame %></span>
              <% edu.description.each do |paragraph| %>
                <p><%= paragraph %></p>
              <% end %>
              <% edu.technologies.each do |tech| %>
                <span class="tags"><%= tech %></span>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>


      <div class="group-itens last">


        <h3><%= t.congress_and_conferences %></h3>


        <div class="itens" id="congress-and-conferences">
          <% person.congresses.each do |con| %>
            <div class="congress">
              <h4><%= con.name %></h2>

              <span class="location"><%= con.location %></span>
              <span class="date"><%= con.date_year %></span>
            </div>
          <% end %>
        </div>
      </div>


    </div>

    <div id="footer">
      <p><%= @person.name %> &mdash; <%= mail_to @person.email %> &mdash; <%= @person.mobile_phone %> &mdash; <%= skype_to 'brodock' %></p>
    </div>

  </div>
</div>